/* This is a temporary hack to fix the bug described here
https://github.com/styled-components/styled-components/issues/1593
Once this has been fixed, these styles should be refactored into globalStyles
*/

@font-face {
  font-family: PxGrotesk;
  src: url('./Px-Grotesk-Light.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: PxGrotesk;
  src: url('./Px-Grotesk-Bold.woff2') format('woff2');
  font-weight: bold;
}
